@model eCommerce.Models.Product

@{
    ViewData["Title"] = "Create new Product";
}

<h2>Create new product</h2>

<form asp-controller="Product" asp-action="Create" method="post">
    <div>
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="SKU" class="form-label"></label>
        <input asp-for="SKU" class="form-control" />
        <span asp-validation-for="SKU" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Brand" class="form-label"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}